BOT_TOKEN=8701635891:AAFmgU89KRhd2dhE-PqRY-mBmGy_SxQEGOg
FIREBASE_DB_URL=https://ultimatemediasearch-default-rtdb.asia-southeast1.firebasedatabase.app/
FIREBASE_API_KEY=AIzaSyD50eWvysruXgtgpDhhCVE2zdbSbLkFBwk
FIREBASE_APP_ID=1:123003124713:web:c738c97b2772b112822978
